node_modules/
.cache/
*.pyc
__pycache__/
.env
*.egg-info/
.DS_Store
thumb_cache/
/PLAN.md
/Requirements.txt
/Commit.md
venv/
models/
thumbs/
error.md
example.md
backend/*.log
dataset/*.txt
dataset/*.jpg
dataset/*.jpeg
dataset/*.png
dataset/*.webp
dataset/*.bmp
